AppInsightsLoggingNet/.vs/AppInsightsLoggingNet/project-colors.json
AppInsightsLoggingNet/.vs/
AppInsightsLoggingNet/AppInsightsLoggingNet/bin/
AppInsightsLoggingNet/AppInsightsLoggingNet/obj/AppInsightsLoggingNet.csproj.nuget.g.props
AppInsightsLoggingNet/AppInsightsLoggingNet/obj/
